// ** Variables

// ** Mixins

/* Button default */
.button {
	display:inline-block;
	*margin-left:4px;
	padding:4px 7px 1px;
	*padding:2px 6px 0;
	border-width:1px;
	border-style:solid;
	border-radius:2px;
	font-size:11px;
	line-height:18px;
	white-space:nowrap;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.button:focus,
.button:active:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}
.button:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
}
.button[disabled],
fieldset[disabled] .button {
	cursor:not-allowed;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity:.65;
}
/* Button white */
.button-white {
	border-color:#ccc #aaa #aaa #ccc;
	background-color:#fff;
	color:#393939;
}
.button-white:hover,
.button-white:focus,
.button-white:active {
	border-color:#bfbfbf #9b9b9b #9b9b9b #bfbfbf;
	background-color:#f9f9f9;
	color:#393939;
	text-decoration:none;
}
.button-white[desabled],
fieldset[disabled] .button-white,
.button-white[disabled]:hover,
fieldset[disabled] .button-white:hover,
.button-white[disabled]:focus,
fieldset[disabled] .button-white:focus,
.button-white[disabled]:active,
fieldset[disabled] .button-white:active {
	background-color:#fff;
	border-color:#ccc #aaa #aaa #ccc;
}
/* Button red */
.button-red {
	border-color:#eb0a00 #c20800 #c20800 #eb0a00;
	background-color:#ff140a;
	color:#fff;
}
.button-red:hover,
.button-red:focus,
.button-red:active {
	border-color:#dd0900 #b30700 #b30700 #dd0900;
	background-color:#f7130a;
	color:#fff;
	text-decoration:none;
}
.button-red[desabled],
fieldset[disabled] .button-red,
.button-red[disabled]:hover,
fieldset[disabled] .button-red:hover,
.button-red[disabled]:focus,
fieldset[disabled] .button-red:focus,
.button-red[disabled]:active,
fieldset[disabled] .button-red:active {
	background-color:#fe1409;
	border-color:#eb0a00 #c20800 #c20800 #eb0a00;
}
/* Button gray */
.button-gray {
	border-color:#5e5e5e #444 #444 #5e5e5e;
	background-color:#666;
	color:#fff;
}
.button-gray:hover,
.button-gray:focus,
.button-gray:active {
	border-color:#505050 #363636 #363636 #505050;
	background-color:#5e5e5e;
	color:#fff;
	text-decoration:none;
}
.button-gray[desabled],
fieldset[disabled] .button-gray,
.button-gray[disabled]:hover,
fieldset[disabled] .button-gray:hover,
.button-gray[disabled]:focus,
fieldset[disabled] .button-gray:focus,
.button-gray[disabled]:active,
fieldset[disabled] .button-gray:active {
	background-color:#666;
	border-color:#5e5e5e #444 #444 #5e5e5e;
}
/* Button size */
.button-xs {
	padding:4px 7px 1px;
	*padding:2px 6px 0;
	line-height:13px;
}
.button-md {
	padding:9px 25px 8px;
	*padding:8px 24px 6px;
}
.button-lg {
	padding:12px 31px;
	*padding:11px 30px 10px;
}
.button-xl {
	min-width:200px;
	padding:18px 0;
	*padding:17px 0 16px;
}
/* Button text */
.button .text-button {
	overflow:hidden;
	float:left;
	text-indent:-9999px;
}
.button-md .text-button {
	width:24px;
	height:14px;
	background:url(http://image.wemakeprice.com/images/global/text-button-md.png) no-repeat;
}
.button-lg .text-button {
	width:27px;
	height:15px;
	background:url(http://image.wemakeprice.com/images/global/text-button-lg.png) no-repeat;
}
.button-xl .text-button {
	float:none;
	height:17px;
	margin:0 auto;
	background:url(http://image.wemakeprice.com/images/global/text-button-xl.png) no-repeat;
}
.button .text-confirm {
	/* 확인 white */
	background-position:0 0;
}
.button-white .text-confirm {
	/* 확인 gray */
	background-position:-60px 0;
}
.button .text-cancel {
	/* 취소 white */
	background-position:0 -20px;
}
.button-white .text-cancel {
	/* 취소 gray */
	background-position:-60px -20px;
}
.button .text-inquiry {
	/* 조회 white */
	background-position:0 -40px;
}
.button-white .text-inquiry {
	/* 조회 gray */
	background-position:-60px -40px;
}
/* Button group */
.wrap-btn-group {
	/* 센터정렬 버튼 그룹 */
	position:relative;
	text-align:center;
}
.wrap-btn-group .button {
	margin-left:1px;
	*margin-left:5px;
}
.wrap-btn-group .button:first-child {
	margin-left:0;
}
.button-group {
	display:inline-block;
}