// ** Variables
// Default variables
$btn-padding-vertical: 5px !default;
$btn-padding-horizon: 14px !default;
$btn-border-width: 1px !default;
$btn-border-radius: 3px !default;
$btn-font-size: 12px !default;
$btn-line-height: 18px !default;
// btn-white
$btn-white-border-color: #ccc;
$btn-white-bg-color: #fff;
$btn-white-font-color: #393939;
// btn-red
$btn-red-border-color: #eb0a00;
$btn-red-bg-color: #ff140a;
$btn-red-font-color: #fff;
// btn-gray
$btn-gray-border-color: #5e5e5e;
$btn-gray-bg-color: #666;
$btn-gray-font-color: #fff;
// btn-sm
$btn-padding-vertical-sm: 3px !default;
$btn-padding-horizon-sm: 10px !default;
// btn-lg
$btn-padding-vertical-lg: 7px !default;
$btn-padding-horizon-lg: 18px !default;
// btn-xl
$btn-padding-vertical-xl: 9px !default;
$btn-padding-horizon-xl: 22px !default;
// IE7 left margin
$ie7-margin-left: 4px;

// ** Mixins
// btn-variant set
@mixin btn-variant($border-color, $bg-color, $color) {
	border-color:$border-color darken($border-color, 15%) darken($border-color, 15%) $border-color;
	background-color:$bg-color;
	color:$color;
	&:hover,
	&:focus,
	&:active {
		border-color:darken($border-color, 5%) darken($border-color, 20%) darken($border-color, 20%) darken($border-color, 5%);
		background-color:darken($bg-color, 5%);
		color:$color;
		text-decoration:none;
	}
	&[disabled],
	&.disabled,
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&:active {
			background-color:$bg-color;
			border-color:$border-color;
		}
	}
}
// btn-size
@mixin btn-size($padding-vertical, $padding-horizon, $font-size: 12px) {
	padding:$padding-vertical $padding-horizon ($padding-vertical - 2);
	@at-root {
		button#{&} {
			*padding:($padding-vertical - 2) ($padding-horizon - 1) ($padding-vertical - 3);
		}
	}
	font-size:$font-size;
}

// ** btn style
// btn default
.btn {
	display:inline-block;
	@include btn-size($btn-padding-vertical, $btn-padding-horizon);
	border-width:$btn-border-width;
	border-style:solid;
	border-color:transparent;
	border-radius:$btn-border-radius;
	font-weight:bold;
	font-size:$btn-font-size;
	text-align:center;
	vertical-align:middle;
	line-height:$btn-line-height;
	white-space:nowrap;
	@include transition(border .25s ease, background-color .25s ease);
	@include user-select(none);
	&:focus,
	&:active {
		&:focus {
			@include tab-focus();
		}
	}
	&:active,
	&.active {
		background-image:none;
		outline:0;
		@include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
	}
	&[disabled],
	&.disabled,
	fieldset[disabled] & {
		@include box-shadow(none);
		cursor:not-allowed;
		@include opacity(.65);
		pointer-events: none;
	}
	// IE7 input + btn, btn + btn 여백
	@at-root {
		.textfield + button#{&},
		button#{&} + button#{&} {
			*margin-left:$ie7-margin-left;
		}
	}
}
// btn-white
.btn-white {
	@include btn-variant($btn-white-border-color, $btn-white-bg-color, $btn-white-font-color);
}
// btn red
.btn-red {
	@include btn-variant($btn-red-border-color, $btn-red-bg-color, $btn-red-font-color);
}
// btn gray

.btn-gray {
	@include btn-variant($btn-gray-border-color, $btn-gray-bg-color, $btn-gray-font-color);
}
// btn size
.btn-sm {
	@include btn-size($btn-padding-vertical-sm, $btn-padding-horizon-sm, 11px);
}
.btn-lg {
	@include btn-size($btn-padding-vertical-lg, $btn-padding-horizon-lg, 13px);
}
.btn-xl {
	@include btn-size($btn-padding-vertical-xl, $btn-padding-horizon-xl, 14px);
}
// btn text
.btn .text-btn {
	overflow:hidden;
	float:left;
	text-indent:-9999px;
}
.btn-md .text-btn {
	width:24px;
	height:14px;
	background:url(http://image.wemakeprice.com/images/global/text-button-md.png) no-repeat;
}
.btn-lg .text-btn {
	width:27px;
	height:15px;
	background:url(http://image.wemakeprice.com/images/global/text-button-lg.png) no-repeat;
}
.btn-xl .text-btn {
	float:none;
	height:17px;
	margin:0 auto;
	background:url(http://image.wemakeprice.com/images/global/text-button-xl.png) no-repeat;
}
.btn .text-confirm {
	/* 확인 white */
	background-position:0 0;
}
.btn-white .text-confirm {
	/* 확인 gray */
	background-position:-60px 0;
}
.btn .text-cancel {
	/* 취소 white */
	background-position:0 -20px;
}
.btn-white .text-cancel {
	/* 취소 gray */
	background-position:-60px -20px;
}
.btn .text-inquiry {
	/* 조회 white */
	background-position:0 -40px;
}
.btn-white .text-inquiry {
	/* 조회 gray */
	background-position:-60px -40px;
}
/* btn group */
.wrap-btn-group {
	/* 센터정렬 버튼 그룹 */
	position:relative;
	text-align:center;
}
.wrap-btn-group .btn {
	margin-left:1px;
	*margin-left:5px;
}
.wrap-btn-group .btn:first-child {
	margin-left:0;
}
.btn-group {
	display:inline-block;
}