// ** Variables
// Default variables
$text-field-width: 200px !default;
$text-field-horizontal-padding: 9px !default;
$text-field-vertical-padding: 5px !default;
$text-field-border-width: 1px !default;
$text-field-border-color: #ccc !default;
$text-field-border-radius: 3px !default;
$text-field-bg-color: #fff !default;
$text-field-color: #393939 !default;
$text-field-line-height: 18px !default;
// Hover, focus variables
$text-field-hover-border-color: darken($text-field-border-color, 10%) !default;
$text-field-focus-border-color: darken($text-field-border-color, 20%) !default;
// Disabled variables
$text-field-disabled-bg-color: #f7f7f7 !default;
$text-field-disabled-color: #aaa !default;
// select height size
$text-field-select-height: $text-field-line-height + ($text-field-vertical-padding * 2);

// ** Mixins

// ** Form style
// Form default
label {
	max-width:100%;
}
select[multiple],
select[size] {
	height:auto;
}
select:-moz-focusring {
	color:transparent;
	text-shadow:0 0 0 #666;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus();
}
// full-text-field
.full-text-field {
	// 100% 사아즈 줄 수 있게 부모 wrapper에서 우측 padding값 부여
	padding-right:($text-field-horizontal-padding * 2) + 2;
	*zoom:1;
}
// last-text-field
// Table 내에 텍스트 이외(.text-field, .button) 들어올 경우 하단여백
.table .last-text-field {
	margin-bottom:3px;
	@include clearfix();
}
// text-field default setting
.text-field {
	display:inline-block;
	width:$text-field-width;
	height:$text-field-line-height;
	padding:$text-field-vertical-padding $text-field-horizontal-padding ($text-field-vertical-padding - 2);
	border:$text-field-border-width solid $text-field-border-color;
	border-radius:$text-field-border-radius;
	background-color:$text-field-bg-color;
	background-image:none;
	font-size:$font-size-default;
	color:$text-field-color;
	line-height:$text-field-line-height;
	@include transition(border ease-in-out .15s, box-shadow ease-in-out .15s);
	.full-text-field & {
		display:block;
		*float:left;
		width:100%;
	}
	&:hover {
		border-color:$text-field-hover-border-color;
	}
	&:focus {
		border-color:$text-field-focus-border-color;
		outline:0;
		@include box-shadow(0 0 4px rgba(0, 0, 0, .3));
	}
	&[disabled]:hover,
	&[disabled]:focus {
		border-color:$text-field-border-color;
	}
	&::-moz-placeholder {
		color: lighten($text-field-color, 30%);
		opacity:1;
	}
	&:-ms-input-placeholder {
		color: lighten($text-field-color, 30%);
	}
	&::-webkit-input-placeholder {
		color: lighten($text-field-color, 30%);
	}
	&[disabled],
	&[readnoly],
	fieldset[disabled] & {
		background-color:$text-field-disabled-bg-color;
		color:$text-field-disabled-color;
		cursor:not-allowed;
		opacity:1;
	}
	@at-root {
		textarea#{&} {
			height:auto;
		}
		// selectbox ie7은 높이값 적용 안됨
		select#{&} {
			width:$text-field-width;
			height:$text-field-select-height;
			*height:auto !important;
			padding: {
				top:0;
				right:0;
				bottom:0;
			}
			background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
			background-position:100% 50%;
			background-repeat:no-repeat;
			-webkit-appearance:none;
		}
		select[multiple]#{&} {
			height:auto;
			padding: {
				top:8px;
				right:9px;
				bottom:8px;
			}
			background-image:none;
		}
	}
}
// Radio & Checkbox
.radio,
.checkbox {
	display:block;
	min-height:18px;
	label,
	&#{-inline} {
		display:inline-block;
		position:relative;
		padding-left:18px;
		font-weight:normal;
		color:$text-field-color;
		vertical-align:middle;
		cursor:pointer;
		@include user-select(none);
	}
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position:absolute;
	top:1px;
	left:0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline,
.text-field + .radio-inline,
.text-field + .checkbox-inline {
	margin-left:6px;
}
// Input disabled
label {
	&[disabled],
	&.disabled,
	& input[type="radio"][disabled],
	& input[type="checkbox"][disabled],
	fieldset[disabled] &,
	fieldset[disabled] & input[type="radio"],
	fieldset[disabled] & input[type="checkbox"] {
		color:#aaa;
		cursor:not-allowed;
	}
}
// Height sizing
// default = 28px
// .input-sm = 24px
// .input-lg = 32px
// .input-xl = 36px
.input-sm {
	padding: {
		top:$text-field-vertical-padding - 2;
		bottom:$text-field-vertical-padding - 4;
	}
}
.input-lg {
	padding: {
		top:$text-field-vertical-padding + 2;
		bottom:$text-field-vertical-padding;
	}
}
.input-xl {
	padding: {
		top:$text-field-vertical-padding + 4;
		bottom:$text-field-vertical-padding + 2;
	}
}
select.input-sm {
	height:$text-field-select-height - 4;
}
select.input-lg {
	height:$text-field-select-height + 4;
}
select.input-xl {
	height:$text-field-select-height + 8;
}
// IE8 hack - selectbox text vertical align
@media \0screen {
	select {
		&.input-sm {
			padding: {
				top:2px;
				bottom:2px;
			}
		}
		&.text-field {
			padding: {
				top:4px;
				right:3px;
				bottom:4px;
			}
		}
		&.input-lg {
			padding: {
				top:6px;
				bottom:6px;
			}
		}
		&.input-xl {
			padding: {
				top:8px;
				bottom:8px;
			}
		}
	}
}
.help-block {
	display:block;
	margin-top:5px;
	color:#888;
	// inline help block
	@at-root {
		span#{&} {
			display:inline;
			margin-top:0;
		}
	}
	// small font-size help block
	&#{-sm} {
		font-size:11px;
	}
	.text-field + & {
		margin-left:6px;
	}
}
/* Form padding default */
.text-field + .button {
	margin-left:1px;
	*margin-left:5px;
}