// ** Variables
// Default
$table-cell-vertical-padding: 10px !default;
$table-cell-horizontal-padding: 10px !default;
$table-top-border-color: #666 !default;
$table-bottom-border-color: #aaa !default;
$table-cell-border-color: #dedede !default;
$th-bg-color: #f7f7f7 !default;
$td-bg-color: #fff !default;

// Table row bg color
$table-bg-gray: #f7f7f7 !default;
$table-bg-green: #dff0d8 !default;
$table-bg-blue: #d9edf7 !default;
$table-bg-yellow: #fcf8e3 !default;
$table-bg-red: #f2dede !default;

// ** Mixins
// Table row bg color
@mixin table-row-color($state, $bg-color) {
	.table {
		.#{$state},
		.#{$state} th,
		.#{$state} td {
			background-color:$bg-color;
		}
	}
	.table-hover {
		.#{$state}:hover th,
		.#{$state}:hover td,
		th.#{$state}:hover,
		td.#{$state}:hover {
			background-color:darken($bg-color, 3%);
		}
	}
}

// ** Table style
// Table default
.wrap-table {
	border-width:1px 0;
	border-style:solid;
	border-color:$table-top-border-color transparent $table-bottom-border-color;
}
.table {
	th,
	td {
		padding:$table-cell-vertical-padding $table-cell-horizontal-padding ($table-cell-vertical-padding - 3);
		border-width:1px 0 0 1px;
		border-style:solid;
		border-color:$table-cell-border-color;
		&:first-child {
			border-left:0;
		}
	}
	th {
		background-color:$th-bg-color;
		font-weight:normal;
		text-align:center;
	}
	td {
		background-color:$td-bg-color;
	}
	thead tr:first-child th {
		border-top:0;
	}
}

// Table horizontal
.table-horizontal {
	th,
	td {
		padding-right:15px;
		padding-left:15px;
	}
	th {
		font-weight:normal;
		text-align:left;
	}
	tbody tr {
		&:first-child th,
		&:first-child td {
			border-top:0;
		}
	}
}

// Table hover
.table-hover {
	tbody,
	tfoot {
		tr {
			&:hover th,
			&:hover td {
				background-color:darken($td-bg-color, 3%);
			}
		}
	}
}

// Table row bg color
@include table-row-color('row-gray', $table-bg-gray);
@include table-row-color('row-green', $table-bg-green);
@include table-row-color('row-blue', $table-bg-blue);
@include table-row-color('row-yellow', $table-bg-yellow);
@include table-row-color('row-red', $table-bg-red);